	.main{
	width: 100%;
	background: #ccc;
	margin: 0 auto;
	cursor: pointer;
}
 .b{
	width: 105px;
	height: 150px;
}
.news-one{
	width: 40%;
	padding: 10px;
	background: white;
	margin: 10px;
	cursor: pointer;
}
#muban{
	cursor: pointer;
}
.news-one>.img , .news-one>.text{
	float: left;
	font-size: 20px;
}
.main li{
	height: 444px;
}
.img{
	position: relative;
}
.img .a{
	position: absolute;
	top: 70px;
	left: -20px;
}
.news-one>.text {
	padding: 20px 10px;
}

.more{
	width: 200px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	background: hotpink;
	cursor: pointer;
}
